<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Users</title>
</head>

<body>
    <div class="container">

        <br>
        <button type="button" class="btn btn-secondary"><a href="/users/profile">Go Back</a>
        </button>
        <br>
        <div class="col-6">
            <div class="text-center">
                <h3>
                    Users
                </h3>
            </div>
        </div>

        <br>

        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( var i = 0; i<users.length;i++) { %>
                    <tr>
                        <th scope="row"><%= users[i].user_id %></th>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].password %></td>
                        <td data-toggle="modal" data-target="#<%= users[i].user_id %>"> <a href="#"><i
                                    class="fa fa-trash"></i></a></td>
                        <div class="modal fade" id="<%= users[i].user_id %>" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete
                                            <%= users[i].name %> ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button onclick="deleteUser('<%= users[i].user_id %>')" type="button"
                                            class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>

        </tr>
        <% } %>
        </tbody>
        </table>
    </div>



    <!-- Modal -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        function deleteUser(user_id) {
            $.ajax({
                type: "POST",
                url: "/users/delete",
                data: {
                    user_id: user_id
                },
                dataType: "json",
                timeout: 10000,
                success: function (result) {
                    console.log(result);
                    $("#" + user_id).modal('toggle');
                    alert(result);
                    location.reload();
                },
                error: function (x, t, m) {
                    $("#" + user_id).modal('toggle');
                    alert("ERROR :: FAIL!");
                }
            });
        }
    </script>
</body>

</html>